<nz-card class="post-card" [nzBordered]="true" [nzHoverable]="true"
         (click)="navigateToPost(post.id)">
  <div class="post-header">
    <div class="post-tag">
      <nz-tag *ngIf="post.isDraft" [nzColor]="'gold'">Черновик</nz-tag>
      <nz-tag *ngIf="post.isPrivate" [nzColor]="'red'">Приватный</nz-tag>
      <nz-tag *ngIf="!post.isPrivate && !post.isDraft" [nzColor]="'green'">Публичный</nz-tag>
    </div>
    <p class="post-date">
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
      Опубликовано: {{ post.publicationDate }}
    </p>
  </div>

  <div class="post-content">
    <p class="post-text">{{ post.text.slice(0, 300) }}</p>
    <img
      *ngIf="post.pathToImage"
      [src]="post.pathToImage"
      alt="Изображение поста"
      class="post-image"
    />
  </div>


</nz-card>
