<nz-card class="post-card" [nzBordered]="true" [nzHoverable]="true"
         (click)="navigateToPost(post.id)">
  <div class="post-header">
    <div class="post-tag">
      <app-post-tag [isDraft]="post.isDraft" [isPrivate]="post.isPrivate"></app-post-tag>
    </div>
    <p class="post-date">
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
      создано: {{ post.creationDate }}
      <br>
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
      опубликовано: {{ post.publicationDate }}
    </p>
  </div>

  <div class="post-content">
    <p class="post-text">{{ post.text.slice(0, 10) }}....</p>
  </div>


</nz-card>
