<header class="logo">
  <a nz-dropdown [nzDropdownMenu]="menu">дневник смешарика</a>

  <i nz-icon class="button" *ngIf="isLoggedIn()" nzType="book" nzTheme="outline" nz-dropdown
     [nzDropdownMenu]="menuDiary"></i>

  <i nz-icon class="button" *ngIf="isLoggedIn()" nzType="team" nzTheme="outline" nz-dropdown
     [nzDropdownMenu]="menuSmeshariks"></i>


  <i nz-icon *ngIf="isDoctor() &&isLoggedIn()" routerLink="/doctor" class="button" nzType="medicine-box"
     nzTheme="outline"></i>

  <i *ngIf="isAdmin()&&isLoggedIn()" nz-icon class="button" nzType="crown" nzTheme="outline" nz-dropdown
     [nzDropdownMenu]="menuAdmin"></i>


  <div *ngIf="isLoggedIn()" class="button" (click)="logOut()">

    <i nz-icon nzType="logout" nzTheme="outline"></i>
  </div>

</header>


<nz-dropdown-menu #menuAdmin="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/complaint">жалобы</li>
    <li nz-menu-item routerLink="/ban">баны</li>
    <li nz-menu-item routerLink="/word">слова</li>
    <li nz-menu-item routerLink="/propensity">наклонности</li>
  </ul>
</nz-dropdown-menu>


<nz-dropdown-menu #menuSmeshariks="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/friends">друзья</li>
    <li nz-menu-item routerLink="/friendrequests">заявки</li>
    <li nz-menu-item routerLink="/smeshsearch">поиск</li>
  </ul>
</nz-dropdown-menu>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu  *ngIf="isLoggedIn()">
    <li nz-menu-item (click)="navigateToProfile()">профиль</li>
    <li nz-menu-item routerLink="/profile">настройки</li>
    <li nz-menu-item routerLink="/diary">дневник</li>
    <li nz-menu-item routerLink="/feed">лента</li>
    <li nz-menu-item routerLink="/post-form">создать новую запись</li>
  </ul>
</nz-dropdown-menu>


<nz-dropdown-menu #menuDiary="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/diary">дневник</li>
    <li nz-menu-item routerLink="/feed">лента</li>
    <li nz-menu-item routerLink="/post-form">создать новую запись</li>
  </ul>
</nz-dropdown-menu>
