.logo{
  width: 100%;
  background: #6d18ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}
.logo a {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}


.logo a:hover {
  color: #f4ccfb;
}

.logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}




.button {
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  padding: 0 20px;
}

.button:hover {
  color: #aa77f6;
}

