  <nz-header>
    <div class="logo">
      <a routerLink="/">дневник смешарика</a>
    </div>
    <nz-menu nzMode="horizontal" class="menu">
      <nz-menu-item  routerLink="/profile" routerLinkActive="active">
        <a>Профиль</a>
        </nz-menu-item>
      <nz-menu-item routerLink="/notification" routerLinkActive="active"><a>Уведомления</a></nz-menu-item>
      <nz-menu-item routerLink="/doctor" routerLinkActive="active"><a>Доктор</a></nz-menu-item>
      <nz-menu-item routerLink="/complaint" routerLinkActive="active"><a>Жалобы</a></nz-menu-item>
    </nz-menu>
  </nz-header>



