
.status-indicator {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 2.3s ease-in-out;
}

.status-indicator.online {
  background-color: #4caf50;
  box-shadow: 0 0 10px #4caf50;
  animation: pulse 2.5s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #4caf50;
  }
  50% {
    box-shadow: 0 0 10px #4caf50;
  }
  100% {
    box-shadow: 0 0 5px #4caf50;
  }
}

.status-indicator.offline {
  background-color: #ff7300;
  box-shadow: 0 0 5px #ff9100;
}



.avatar-container {
  position: relative;
  display: inline-block;
}


