<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="reg-form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired
                   nzTooltipTitle="как вас зовут">
      <span>имя</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите свое имя!">
      <input nz-input id="name" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired
                   nzTooltipTitle="ваше уникальное имя">
      <span>логин</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите логин, он должен быть длинне 4 символов!">
      <input nz-input id="login" formControlName="login"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired
                   nzTooltipTitle="email">
      <span>email</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="пожалуйста, введите свой email!">
      <input nz-input id="email" formControlName="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>пароль</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="пожалуйста, введите свой пароль!">
      <nz-input-group [nzSuffix]="passwordSuffix">
        <input
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-input-group>
      <ng-template #passwordSuffix>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>еще раз пароль</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <nz-input-group [nzSuffix]="confirmPasswordSuffix">
        <input
          nz-input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          formControlName="checkPassword"
          id="checkPassword"
        />
      </nz-input-group>
      <ng-template #confirmPasswordSuffix>
        <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
           (click)="toggleConfirmPasswordVisibility()"></i>
      </ng-template>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.errors?.['required']">пожалуйста, подтвердите свой пароль!</ng-container>
        <ng-container *ngIf="control.errors?.['confirm']">два введенных вами пароля несовместимы!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!this.validateForm.valid">зарегестрироваться</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="navig">
  <button nz-button nzType="primary" routerLink="/login">вход</button>
</div>
