<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="reg-form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired
                   nzTooltipTitle="What do you want others to call you">
      <span>name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
      <input nz-input id="name" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired
                   nzTooltipTitle="yours unique name">
      <span>login</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your login!">
      <input nz-input id="login" formControlName="login"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired
                   nzTooltipTitle="email">
      <span>email</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your email!">
      <input nz-input id="email" formControlName="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <nz-input-group [nzSuffix]="passwordSuffix">
        <input
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-input-group>
      <ng-template #passwordSuffix>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <nz-input-group [nzSuffix]="confirmPasswordSuffix">
        <input
          nz-input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          formControlName="checkPassword"
          id="checkPassword"
        />
      </nz-input-group>
      <ng-template #confirmPasswordSuffix>
        <i nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
           (click)="toggleConfirmPasswordVisibility()"></i>
      </ng-template>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.errors?.['required']">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.errors?.['confirm']">Two passwords that you enter are inconsistent!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!this.validateForm.valid">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="navig">
  <button nz-button nzType="primary" routerLink="/login">Login</button>

  <button nz-button nzType="primary" routerLink="">Welcome</button>
</div>
