<nz-card class="item-card" [nzBordered]="true" [nzHoverable]="true">
  <h3 class="propensity-name">{{ item.name }}</h3>
  <h5 class="propensity-id">id: {{ item.id }}</h5>
  <p class="item-details">{{ item.description }}</p>

  <div class="item-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> редактировать
    </button>
    <button nz-button nzType="default" nzDanger (click)="onDelete(item)">
      <i nz-icon nzType="delete"></i> удалить
    </button>
  </div>
</nz-card>







