<p>word-page works!</p>
<app-search-filter [isStatusesNeeded]="false" (searchChanged)="handleSearchChange($event)"></app-search-filter>


<button nz-button nzType="primary" (click)="openAddForm()">добавить триггерное слово</button>

<!--<app-word-form-->
<!--  [isVisible] = "isVisible"-->
<!--  [isEditMode]="isEditMode"-->
<!--  [item]="itemForEdit"-->
<!--  (onSave)="onSave($event)"-->
<!--  (onEdit)="onEdit($event)"-->
<!--  (onCancel)="onCancel()">-->
<!--</app-word-form>-->




<div class="word-container">
  <app-word-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-word-card>
</div>



