<app-search-filter [isStatusesNeeded]="false" (searchChanged)="handleSearchChange($event)"></app-search-filter>

<div>
<button nz-button nzType="primary" (click)="openAddForm()">добавить триггерное слово</button>
</div>
<app-word-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onEdit)="onEdit($event)"
  (onCancel)="onCancel()">
</app-word-form>





<div *ngIf="items.length==0" class="bubble-text">
  нет триггерных слов
</div>


<div class="item-container">
  <app-word-card
    *ngFor="let item of items; trackBy: trackById"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-word-card>
</div>



