<div class="toggle-container">
  <label for="complaints-toggle">Показать:</label>
  <nz-switch
    id="complaints-toggle"
    [(ngModel)]="isMyComplaints"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyComplaints" class="my-complaints">Мои жалобы</span>
    <span *ngIf="!isMyComplaints" class="all-complaints">Все жалобы</span>
  </div>
</div>


<div class="complaint-container">
  <app-complaint-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-complaint-card>
</div>





