

.toggle-label {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.my-complaints {
  color: #3f0d4a;
  font-weight: bold;
}

.all-complaints {
  color: #2e0947;
  font-weight: bold;
}

.nz-switch {
  margin: 0 10px;
}
button[nzType="default"] {
  margin-left: 10px;
}



