

<app-search-filter (searchChanged)="handleSearchChange($event)"></app-search-filter>

<button nz-button nzType="primary" (click)="openAddForm()">добавить жалобу</button>

<app-complaint-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onCancel)="onCancel()">
</app-complaint-form>



<div class="toggle-container">
  <nz-switch
    id="complaints-toggle"
    [(ngModel)]="isMyComplaints"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyComplaints" class="my-complaints">мои жалобы</span>
    <span *ngIf="!isMyComplaints" class="all-complaints">все жалобы</span>
  </div>
</div>


<div class="complaint-container">
  <app-complaint-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-complaint-card>
</div>





