<nz-avatar
  [nzSize]="64"
  [style.background-color]="smesharik ? smesharik.color : '#6d18ff'"

  [style]="{ 'background-color': '#8228e6' }"
  nzIcon="user"></nz-avatar>

<div class="role-info">
  <app-role-tag [role]="smesharik ? smesharik.role : Roles.USER"></app-role-tag>
</div>


<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="edit-form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name"
                   nzTooltipTitle="как бы вы хотели, чтобы другие называли вас">
      <span>имя</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите имя!">
      <input nz-input id="name" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login"
                   nzTooltipTitle="выше уникальное имя">
      <span>логин</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите логин!">
      <input nz-input id="login" formControlName="login"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzTooltipTitle="ваш цвет">выберите цвет</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <nz-color-picker formControlName="color" nzShowText></nz-color-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
                   nzTooltipTitle="email">
      <span>email</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите email!">
      <input nz-input id="email" formControlName="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="edit-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary"
              *ngIf="isEditing"
              [disabled]="saveIsAvailable()">сохранить изменения
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<div>
  <button nz-button nzType="default" (click)="toggleEdit()">
    {{ isEditing ? 'отмена редактирования' : 'редактировать профиль' }}
  </button>
  <button nz-button nzType="default" (click)="toggleChangePassword()">
    {{ isChangingPassword ? 'отмена смены пароля' : 'сменить пароль' }}
  </button>
</div>


<div *ngIf="isChangingPassword">
  <form [formGroup]="passwordForm">
    <nz-form-item>
      <!--      <nz-form-label [nzSpan]="6">введите старый пароль:</nz-form-label>-->
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="passwordForm.controls.oldPassword">
        <nz-input-group [nzSuffix]="passwordSuffixOld">
          <input nz-input [type]="passwordVisible.old ? 'text' : 'password'"
                 formControlName="oldPassword"
                 placeholder="старый пароль"/>
        </nz-input-group>
        <ng-template #passwordSuffixOld>
          <i nz-icon [nzType]="passwordVisible.old ? 'eye-invisible' : 'eye'"
             (click)="togglePasswordVisibility('old')"></i>
        </ng-template>
        <div class="ant-form-item-explain-error" *ngIf="passwordForm.controls.oldPassword.hasError('required')">
          введите старый пароль
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item [class.nz-form-item-has-error]="passwordForm.hasError('passwordsNotMatching')">
      <!--      <nz-form-label [nzSpan]="6">введите новый пароль:</nz-form-label>-->
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="passwordForm.controls.newPassword">
        <nz-input-group [nzSuffix]="passwordSuffixNew">
          <input nz-input [type]="passwordVisible.new ? 'text' : 'password'" formControlName="newPassword"
                 placeholder="новый пароль"/>
        </nz-input-group>
        <ng-template #passwordSuffixNew>
          <i nz-icon [nzType]="passwordVisible.new ? 'eye-invisible' : 'eye'"
             (click)="togglePasswordVisibility('new')"></i>
        </ng-template>
        <div class="ant-form-item-explain-error" *ngIf="passwordForm.controls.newPassword.hasError('required')">
          введите новый пароль
        </div>
        <div class="ant-form-item-explain-error" *ngIf="passwordForm.controls.newPassword.hasError('minlength')">
          длина пароля не меньше 6 символов
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item [class.nz-form-item-has-error]="passwordForm.hasError('passwordsNotMatching')">
      <!--      <nz-form-label [nzSpan]="6">Подтвердите пароль:</nz-form-label>-->
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="passwordForm.controls.confirmPassword">
        <nz-input-group [nzSuffix]="passwordSuffixConfirm">
          <input nz-input [type]="passwordVisible.confirm ? 'text' : 'password'"
                 formControlName="confirmPassword"
                 placeholder="повторите новый пароль"/>
        </nz-input-group>
        <ng-template #passwordSuffixConfirm>
          <i nz-icon [nzType]="passwordVisible.confirm ? 'eye-invisible' : 'eye'"
             (click)="togglePasswordVisibility('confirm')"></i>
        </ng-template>
        <div class="ant-form-item-explain-error" *ngIf="passwordForm.controls.confirmPassword.hasError('required')">
          подтвердите пароль
        </div>
        <div class="ant-form-item-explain-error" *ngIf="passwordForm.hasError('passwordsNotMatching')">
          пароли не совпадают
        </div>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="18">
        <button nz-button nzType="primary" [disabled]="passwordForm.invalid" (click)="submitPasswordChange()">
          подтвердить
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>

</div>


<div>
  <button nz-button nzType="default" (click)="logOut()">
    выйти
  </button>
</div>




