<nz-card class="friend-card" [nzBordered]="true" [nzHoverable]="true">
  <div class="friend-info">
<!--    <nz-avatar [nzSrc]="friend.avatar" nzSize="large"></nz-avatar>-->
    <nz-avatar
      nzSize="large"
      [style]="{ 'background-color': '#8228e6' }"
      nzIcon="user"></nz-avatar>
    <div class="friend-details">
      <h3 class="friend-name">{{ friend.name }}</h3>
      <p class="friend-status">
        <nz-tag *ngIf="friend.isOnline" nzColor="green">
          <i nz-icon nzType="check-circle" nzTheme="outline"></i> онлайн
        </nz-tag>
        <nz-tag *ngIf="!friend.isOnline" nzColor="default">
          <i nz-icon nzType="clock-circle" nzTheme="outline"></i> {{ friend.lastActive }}
        </nz-tag>
      </p>
    </div>
  </div>

  <div class="friend-meta">
    <p><strong>логин: </strong> {{ friend.login }}</p>
    <p><strong>роль: </strong>
      <app-role-tag [role]="friend.role"></app-role-tag>
    </p>
  </div>


  <div class="friend-actions">
    <button *ngIf="context === Context.requests" nz-button nzType="primary" (click)="onAddFriend(friend)">
      <i nz-icon nzType="user-add"></i> добавить в друзья
    </button>
    <button *ngIf="context === Context.friends" nz-button nzType="default" nzDanger (click)="onRemoveFriend(friend)">
      <i nz-icon nzType="user-delete"></i> удалить из друзей
    </button>
    <button  *ngIf="context === Context.admin" nz-button nzType="dashed" (click)="onMakeAdmin(friend)">
      <i nz-icon nzType="user-add"></i> сделать администратором
    </button>

    <button *ngIf="context === Context.doctor"  nz-button nzType="dashed" (click)="onMakeDoctor(friend)">
      <i nz-icon nzType="user-add"></i> сделать доктором
    </button>

  </div>


</nz-card>
