<nz-card class="friend-card" [nzBordered]="true" [nzHoverable]="true"
         (click)="navigateToSmesharik(friend.login)"
>
  <div class="friend-info">
    <app-avatar [data]="friend "></app-avatar>
    <div class="friend-details">
      <h3 class="friend-name">{{ friend.name }}</h3>
      <p class="friend-status">
        <nz-tag *ngIf="friend.isOnline" nzColor="green">
          <i nz-icon nzType="check-circle" nzTheme="outline"></i> онлайн
        </nz-tag>
        <nz-tag *ngIf="!friend.isOnline" nzColor="default">
          <i nz-icon nzType="clock-circle" nzTheme="outline"></i> {{
            this.dateFormatterService.formatDate(friend.lastActive)
          }}
        </nz-tag>
      </p>
    </div>
  </div>

  <div class="friend-meta">
    <p><strong>логин: </strong> {{ friend.login }}</p>
    <p><strong>роль: </strong>
      <app-role-tag [role]="friend.role"></app-role-tag>
    </p>
  </div>


  <div class="item-actions">
    <button *ngIf="context === Context.requests || friend.isMyFollower  " nz-button nzType="primary" (click)="onAddFriend(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-add"></i> добавить в друзья
    </button>

    <button *ngIf="context === Context.friends || (context ===  Context.search && friend.isMyFriend)" nz-button nzType="default" nzDanger (click)="onRemoveFriend(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-delete"></i> удалить из друзей
    </button>

    <button *ngIf="context ===  Context.search && !friend.isMyFriend && !friend.isMyFollower && !friend.isIFollow  " nz-button  nzType="default" (click)="onMakeFriend(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-add"></i> подать зявку в друзья
    </button>
    <button *ngIf="context === Context.search && isAdmin() && friend.role!=Roles.ADMIN" nz-button nzType="dashed" (click)="onMakeAdmin(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-add"></i> сделать администратором
    </button>

    <button *ngIf="context === Context.search && isAdmin() &&friend.role!=Roles.DOCTOR" nz-button nzType="dashed" (click)="onMakeDoctor(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-add"></i> сделать доктором
    </button>

    <button *ngIf="context === Context.search
    && isAdmin()
     && friend.role!=Roles.USER" nz-button nzType="dashed" (click)="onMakeUser(friend); $event.stopPropagation()">
      <i nz-icon nzType="user-add"></i> разжаловать
    </button>

  </div>


</nz-card>
