<nz-card class="application-card"
         [nzBordered]="true" [nzHoverable]="true">
  <nz-card-meta
    [nzTitle]="'Заявка №' + application.id"
    [nzDescription]="'Статус: ' + application.status">
  </nz-card-meta>

  <div class="application-details">
    <p><strong>Склонность:</strong> {{ propensity.name }}</p>
    <p><strong>Описание:</strong> {{ propensity.description }}</p>
    <p *ngIf="application.postId"><strong>Пост ID:</strong> {{ application.postId }}</p>
    <p *ngIf="application.commentId"><strong>Комментарий ID:</strong> {{ application.commentId }}</p>
    <p>
      <strong>Доктор ID:</strong>
      <span *ngIf="application.doctorId; else noDoctor">
              {{ application.doctorId }}
        </span>
    </p>
    <ng-template #noDoctor> Доктор еще не назначен</ng-template>
  </div>

  <div class="application-actions" *ngIf="!application.doctorId">
    <nz-select
      [(ngModel)]="application.status"
      class="status-selector"
      [nzDropdownClassName]="'status-dropdown'"
      [nzAllowClear]="false"
      (ngModelChange)="onStatusChange(application.status)">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmStatus()">Подтвердить</button>
  </div>
</nz-card>
