<nz-card class="application-card"
         [nzBordered]="true" [nzHoverable]="true">
  <nz-card-meta
    [nzTitle]="'Заявка №' + application.id"
    [nzDescription]="'Статус: ' + application.status">
  </nz-card-meta>

  <div class="application-details">
    <p><strong>Склонность:</strong> {{ propensity.name }}</p>
    <p><strong>Описание:</strong> {{ propensity.description }}</p>


    <div>
      <p *ngIf="application.postId">
        <strong>Пост ID:</strong>
        <a (click)="showPost(application.postId)" class="post-link">{{ application.postId }}</a>
      </p>
      <button *ngIf="selectedPost" nz-button nzType="default" (click)="closePost()">Закрыть пост</button>
      <app-post *ngIf="selectedPost" [post]="selectedPost"></app-post>
    </div>


    <div>
      <p *ngIf="application.commentId">
        <strong>Комментарий ID:</strong>
        <a (click)="showComment(application.commentId)" class="comment-link">{{ application.commentId }}</a>
      </p>
      <button *ngIf="selectedComment" nz-button nzType="default" (click)="closeComment()">Закрыть коммент</button>
      <app-comment *ngIf="selectedComment" [comment]="selectedComment"></app-comment>
    </div>

    <p>
      <strong>Доктор ID:</strong>
      <span *ngIf="application.doctorId; else noDoctor">
              {{ application.doctorId }}
        </span>
    </p>
    <ng-template #noDoctor> Доктор еще не назначен</ng-template>
  </div>

  <div class="application-actions" *ngIf="!application.doctorId">
    <nz-select
      [(ngModel)]="application.status"
      class="status-selector"
      [nzDropdownClassName]="'status-dropdown'"
      [nzAllowClear]="false"
      (ngModelChange)="onStatusChange(application.status)">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmStatus()">Подтвердить</button>
  </div>
</nz-card>
