<div class="login-form">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form" >
  <nz-form-item>
<!--    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired>логин</nz-form-label>-->
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="пожалуйста, введите свой логин!">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="login" nz-input placeholder="логин"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
<!--    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>пароль</nz-form-label>-->
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="пожалуйста, введите свой пароль!!">
      <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="lock">
        <input
          formControlName="password"
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="пароль"
        />
      </nz-input-group>
      <ng-template #passwordSuffix>
        <button
          type="button"
          class="password-toggle-button"
          (click)="togglePasswordVisibility()"
          [attr.aria-pressed]="passwordVisible"
          [attr.aria-label]="passwordVisible ? 'скрыть пароль' : 'показать пароль'">
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"></i>
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control >
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">войти</button>
    </nz-form-control>
  </nz-form-item>
</form>
<br>

<div class="navig">
  <button nz-button nzType="primary" routerLink="/registration">зарегестрироваться</button>
</div>
</div>
