<div class="login-form">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form" >
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login" nzRequired>login</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your login!">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="login" nz-input placeholder="login"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Password!">
      <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="lock">
        <input
          formControlName="password"
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Password"
        />
      </nz-input-group>
      <ng-template #passwordSuffix>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()"></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control >
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
    </nz-form-control>
  </nz-form-item>
</form>
<br>

<div class="navig">
  <button nz-button nzType="primary" routerLink="/registration">register</button>
  <br>
  <br>
  <button nz-button nzType="primary" routerLink="">welcome</button>
</div>
</div>
