<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="isEditMode ? 'редактировать наклонность' : 'добавить наклонность'"
          (nzOnCancel)="cancel()"
          [nzContent]="forma"
          [nzFooter]="modalFooter">
  <ng-template #forma>
  <form nz-form [formGroup]="validateForm" class="form" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">название</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите название наклонности">
        <nz-input-group nzPrefixIcon="gift">
          <input formControlName="name" nz-input placeholder="имя"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">описание</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите описание">
        <nz-input-group nzPrefixIcon="form">
            <textarea nz-input formControlName="description" placeholder="описание"
                      [nzAutosize]="{ minRows: 1, maxRows: 3 }"></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="save()" [disabled]="!validateForm.valid">добавить</button>
  </ng-template>
</nz-modal>



