<nz-card class="application-card"
         [nzBordered]="true" [nzHoverable]="true">
  <nz-card-meta
    [nzTitle]="'Заявка №' + item.id"
    [nzDescription]="'Статус: ' + item.status">
  </nz-card-meta>

  <div class="application-details">
    <p><strong>Склонность:</strong> {{ propensity.name }}</p>
    <p><strong>Описание:</strong> {{ propensity.description }}</p>


    <div>
      <p *ngIf="item.postId">
        <strong>Пост ID:</strong>
        <a (click)="showPost(item.postId)" class="post-link">{{ item.postId }}</a>
      </p>
      <button *ngIf="selectedPost" nz-button nzType="default" (click)="closePost()">Закрыть пост</button>
      <app-post *ngIf="selectedPost" [post]="selectedPost"></app-post>
    </div>


    <div>
      <p *ngIf="item.commentId">
        <strong>Комментарий ID:</strong>
        <a (click)="showComment(item.commentId)" class="comment-link">{{ item.commentId }}</a>
      </p>
      <button *ngIf="selectedComment" nz-button nzType="default" (click)="closeComment()">Закрыть коммент</button>
      <app-comment *ngIf="selectedComment" [comment]="selectedComment"></app-comment>
    </div>

    <p>
      <strong>Доктор ID:</strong>
      <span *ngIf="item.doctorId; else noDoctor">
              {{ item.doctorId }}
        </span>
    </p>
    <ng-template #noDoctor> Доктор еще не назначен</ng-template>
  </div>

  <div class="application-actions" *ngIf="!item.doctorId">
    <nz-select
      [(ngModel)]="item.status"
      class="status-selector"
      [nzDropdownClassName]="'status-dropdown'"
      [nzAllowClear]="false"
      (ngModelChange)="onStatusChange(item.status)">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmStatus()">Подтвердить</button>
  </div>

  <div class="application-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> Редактировать
    </button>
    <button nz-button nzType="default" nzDanger (click)="onDelete(item)">
      <i nz-icon nzType="delete"></i> Удалить
    </button>
  </div>

</nz-card>
