<nz-card class="application-card"
         [nzBordered]="true" [nzHoverable]="true">
  <nz-card-meta
    [nzTitle]="'заявка №' + item.id"
    [nzDescription]="'статус: ' + item.status">
  </nz-card-meta>

  <div class="application-details">
    <p><strong>наклонности ид: </strong>{{ item.propensities }}</p>

    <div>
      <p *ngIf="item.post">
        <strong>пост ID: </strong>
        <a (click)="navigateToPost(item.post)" class="post-link">{{ item.post }}</a>
      </p>
    </div>


    <div>
      <p *ngIf="item.comment">
        <strong>комментарий ID: </strong>
        <a (click)="navigateToComment(item.comment)" class="comment-link">{{ item.comment }}</a>
      </p>
    </div>

    <p>
      <strong>доктор: </strong>
      <span *ngIf="item.doctor; else noDoctor">
              {{ item.doctor }}
        </span>
    </p>

    <ng-template #noDoctor>
      <span style="color: #ff613b;">доктор еще не назначен</span>
    </ng-template>
  </div>

  <div class="application-actions" >
    <nz-select
      [(ngModel)]="selectedStatus"
      class="status-selector"
      [nzAllowClear]="false">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmComplaintStatus()">подтвердить</button>

    <button
      nz-button
      nzType="default"
      nzDanger
      *ngIf="!item.doctor"
      (click)="assignDoctorToApplication()">
      взять в обработку
    </button>
  </div>

    <div class="application-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> редактировать
    </button>
    <button nz-button nzType="default" nzDanger (click)="onDelete(item)">
      <i nz-icon nzType="delete"></i> удалить
    </button>
  </div>

</nz-card>
