<app-back-button [isFeed]="isFeed" (goBackEvent)="handleGoBack()"> назад</app-back-button>

<nz-card class="post-card" [nzBordered]="true" [nzHoverable]="true">
  <nz-card-meta
    [nzTitle]="title"
    [nzDescription]="nzDescription"
    [nzAvatar]="avatarTemplate">
  </nz-card-meta>
  <br>
  <div class="post-tag" *ngIf="!isFeed">
    <app-post-tag [isDraft]="post.isDraft" [isPrivate]="post.isPrivate"></app-post-tag>
  </div>


  <div class="post-content">
    <p class="post-text">{{ post.text }}</p>
    <img
      *ngIf="imageUrl"
      [src]="imageUrl"
      style="width: 10%"
      alt="Изображение поста"
      class="post-image"
    />
  </div>


  <div class="post-carrots">
    <i
      nz-icon
      [nzType]="iconCarrot.name"
      class="large-icon"
      [class.liked]="(isLiked$ | async)"
      (click)="toggleLike()"
    ></i>
    <app-carrot-count [count]="post.countCarrots ? post.countCarrots :0"></app-carrot-count>
  </div>


  <!--  <div class="comment-toggle" *ngIf="isCommentExisted">-->
  <!--    <i (click)="toggleComments()">-->
  <!--      {{ isCommentsVisible ? 'скрыть комментарии' : 'показать комментарии' }}-->
  <!--    </i>-->
  <!--  </div>-->

  <!--  <div class="comment-toggle" *ngIf="!isCommentExisted">-->
  <!--    комментариев нема-->
  <!--  </div>-->


  <!--  <app-nested-comm *ngIf="isCommentsVisible"-->
  <!--                   [groupedComments]="commentService.groupComments(this.commentsList)"></app-nested-comm>-->


  <!--  <div *ngFor="let comment of comments$ | async">-->
  <!--    <p>{{ comment.text }}</p>-->
  <!--  </div>-->

  <!--  <button (click)="onScroll()" *ngIf="hasMore$ | async">Загрузить ещё</button>-->
  <div>
    <div class="reply-box">
      <textarea [(ngModel)]="replyText" placeholder="введите ваш ответ..."></textarea>
      <button nz-button nzType="primary" (click)="createComment()">отправить</button>
    </div>
  </div>

  <div *ngFor="let comment of comments$ | async">
    <app-comment-card2
      [isFeed]="true"
      [comment]="comment"
      (loadRepliesEvent)="onLoadReplies($event)">
    </app-comment-card2>
  </div>



  <button nz-button (click)="onScroll()" *ngIf="hasMore$ | async">загрузить еще</button>

</nz-card>


<ng-template #avatarTemplate>
  <app-avatar *ngIf="postAuthor$ | async as author" [data]="author"></app-avatar>
</ng-template>

<ng-template #nzDescription>
  <p class="item-date">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    опубликовано: {{ this.dateFormatterService.formatDate(post.publicationDate) }} <br>
  </p>
</ng-template>


<ng-template #title>
  <span *ngIf="postAuthor$ | async as author">
    {{ author.name }} ({{ post.author }}) {{ post.id }}
  </span>
</ng-template>
