.post-card {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.large-icon {
  font-size: 35px;
}

.comment-toggle {
  font-size: 15px;
  font-weight: 800;
  color: #8f69ff;
  margin-left: 0;
}

.post-carrots {
  user-select: none;
}
