<nz-card class="post-card" [nzBordered]="true" [nzHoverable]="true">
  <div class="post-header">
    <h3 class="post-title">
      <nz-avatar
        nzSize="large"
        [style]="{ 'background-color': '#8228e6' }"
        nzIcon="user"></nz-avatar>

      <span class="post-author">post ID: {{ post.id }}</span>
      <span class="post-author">Автор ID: {{ post.authorId }}</span>
    </h3>
    <div class="post-tag">
      <app-post-tag [isDraft]="post.isDraft" [isPrivate]="post.isPrivate"></app-post-tag>
    </div>
    <p class="post-date">
      <i nz-icon nzType="calendar" nzTheme="outline"></i>
      Опубликовано: {{ post.publicationDate }}
    </p>

  </div>


  <div class="post-content">
    <p class="post-text">{{ post.text }}</p>
    <img
      *ngIf="post.pathToImage"
      [src]="post.pathToImage"
      alt="Изображение поста"
      class="post-image"
    />
  </div>


  <div class="post-carrots">
    <i
      nz-icon
      [nzType]="iconCarrot.name"
      class="large-icon"
      [class.liked]="isLiked"
      (click)="toggleLike()"
    ></i>
    <app-carrot-count [postId]="post.id"></app-carrot-count>
  </div>

  <div class="comment-toggle" *ngIf="isCommentExisted">
    <i (click)="toggleComments()">
      {{ isCommentsVisible ? 'Скрыть комментарии' : 'Показать комментарии' }}
    </i>
  </div>
  <div class="comment-toggle" *ngIf="!isCommentExisted">
    комментариев нема
  </div>

  <app-nested-comm *ngIf="isCommentsVisible"
                   [groupedComments]="commentService.groupComments(this.commentsList)"></app-nested-comm>

</nz-card>

