<div class="toggle-container">
  <label for="complaints-toggle">Показать:</label>
  <nz-switch
    id="complaints-toggle"
    [(ngModel)]="isMyComplaints"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyComplaints" class="my-complaints">Мои жалобы</span>
    <span *ngIf="!isMyComplaints" class="all-complaints">Все жалобы</span>
  </div>
</div>


<div class="complaint-container"  *ngFor="let complaint of complaints">
  <app-complaint [complaint]="complaint"></app-complaint>
</div>



