<h1>жалобы</h1>

<div class="toggle-container">
  <label for="complaints-toggle">Показать:</label>
  <nz-switch
    id="complaints-toggle"
    [(ngModel)]="isMyComplaints"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyComplaints" class="my-complaints">Мои жалобы</span>
    <span *ngIf="!isMyComplaints" class="all-complaints">Все жалобы</span>
  </div>
</div>


<div class="complaint-container">
  <nz-card
    *ngFor="let complaint of complaints"
    [nzBordered]="true"
    [nzBodyStyle]="{ padding: '15px' }"
    class="complaint-card">

    <nz-card-meta
      [nzTitle]="'Жалоба №' + complaint.id"
      [nzDescription]="'Статус: ' + complaint.status">
    </nz-card-meta>

    <div class="complaint-details">
      <p><strong>Тип нарушения:</strong> {{ complaint.violationType }}</p>
      <p><strong>Описание:</strong> {{ complaint.description }}</p>
      <p><strong>Дата создания:</strong> {{ complaint.creationDate }}</p>
      <p><strong>Дата закрытия:</strong> {{ complaint.closingDate || 'Не закрыта' }}</p>
      <p *ngIf="complaint.postId"><strong>Пост ID:</strong> {{ complaint.postId }}</p>
      <p *ngIf="complaint.commentId"><strong>Комментарий ID:</strong> {{ complaint.commentId }}</p>
      <p><strong>Ответственный
        администратор:</strong> {{ complaint.adminId ? 'Администратор ' + complaint.adminId : 'Не назначен' }}</p>
    </div>

    <div class="complaint-actions">
      <nz-select
        [(ngModel)]="complaint.status"
        class="status-selector"
        [nzAllowClear]="false"
        (ngModelChange)="onStatusChange(complaint.id, complaint.status)">
        <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="confirmComplaintStatus(complaint.id)">Подтвердить</button>


      <button
        nz-button
        nzType="default"
        nzDanger
        *ngIf="!complaint.adminId"
        (click)="assignAdminToComplaint(complaint.id)">
        Взять в обработку
      </button>
    </div>
  </nz-card>
</div>
