<app-search-filter [isStatusesNeeded]="false" (searchChanged)="handleSearchChange($event)"></app-search-filter>

<div>
<button nz-button nzType="primary" (click)="openAddForm()">добавить бан</button>
</div>
<app-ban-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onEdit)="onEdit($event)"
  (onCancel)="onCancel()">
</app-ban-form>



<div *ngIf="items.length==0" class="bubble-text">
  нет банов
</div>


<div class="item-container">
  <app-ban-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-ban-card>
</div>



