<app-search-filter (searchChanged)="handleSearchChange($event)"></app-search-filter>


<button nz-button nzType="primary" (click)="openAddForm()">добавить завку на лечение</button>

<app-application-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onCancel)="onCancel()">
</app-application-form>




<div class="toggle-container">
  <nz-switch
    id="applications-toggle"
    [(ngModel)]="isMyApplications"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyApplications" class="my-applications">я работаю над этим</span>
    <span *ngIf="!isMyApplications" class="all-applications">все заявки</span>
  </div>
</div>

<div class="applications-container">
  <app-application-card
    *ngFor="let item of items"
    [currDoctorId]="currDoctorId"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
    [propensity]="propensityList[item.propensityId]"></app-application-card>
</div>



