<div class="toggle-container">
  <label for="applications-toggle">Показать:</label>
  <nz-switch
    id="applications-toggle"
    [(ngModel)]="isMyApplications"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyApplications" class="my-applications">Мои заявки</span>
    <span *ngIf="!isMyApplications" class="all-applications">Все заявки</span>
  </div>
</div>

<div class="applications-container">
 <app-application-card
   *ngFor="let item of items"
   [item]="item"
   (edit)="handleEdit($event)"
   (delete)="handleDelete($event)"
   [propensity]="propensityList[item.propensityId]"></app-application-card>
</div>



