<app-search-filter [isSearchNeeded]="false" (searchChanged)="handleSearchChange($event)"></app-search-filter>



<app-application-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onEdit)="onEdit($event)"
  (onCancel)="onCancel()">
</app-application-form>



<div class="toggle-container">
  <nz-switch
    id="applications-toggle"
    [(ngModel)]="isMyApplications"
    (ngModelChange)="onToggleChange()">
  </nz-switch>

  <div class="toggle-label">
    <span *ngIf="isMyApplications" class="my-applications">я работаю над этим</span>
    <span *ngIf="!isMyApplications" class="all-applications">все заявки</span>
  </div>
</div>



<div *ngIf="items.length==0" class="bubble-text">
  нет заявок на лечение
</div>

<div class="applications-container">
  <app-application-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
    (statusConfirmed)="handleStatusConfirmed($event)"
    (takeIt)="handleTake($event)"
  ></app-application-card>
</div>



