<app-search-filter [isStatusesNeeded]="false" (searchChanged)="handleSearchChange($event)"></app-search-filter>

<div>
<button nz-button nzType="primary" (click)="openAddForm()">добавить наклонность</button>
</div>
<app-propensity-form
  [isVisible] = "isVisible"
  [isEditMode]="isEditMode"
  [item]="itemForEdit"
  (onSave)="onSave($event)"
  (onEdit)="onEdit($event)"
  (onCancel)="onCancel()">
</app-propensity-form>





<div class="item-container">
  <app-propensity-card
    *ngFor="let item of items"
    [item]="item"
    (edit)="handleEdit($event)"
    (delete)="handleDelete($event)"
  ></app-propensity-card>
</div>

<div *ngIf="items.length==0" class="bubble-text">
  нет наклонностей
</div>


