<nz-card class="complaint-card"
         [nzBordered]="true" [nzHoverable]="true">

  <nz-card-meta
    [nzTitle]="'Жалоба №' + item.id"
    [nzDescription]="'Статус: ' + item.status">
  </nz-card-meta>

  <div class="complaint-details">
    <p><strong>Тип нарушения:</strong> {{ item.violationType }}</p>
    <p><strong>Описание:</strong> {{ item.description }}</p>
    <p><strong>Дата создания:</strong> {{ item.creationDate }}</p>
    <p><strong>Дата закрытия:</strong> {{ item.closingDate || 'Не закрыта' }}</p>
    <div>
      <p *ngIf="item.postId">
        <strong>Пост ID:</strong>
        <a (click)="showPost(item.postId)" class="post-link">{{ item.postId }}</a>
      </p>
      <button *ngIf="selectedPost" nz-button nzType="default" (click)="closePost()">Закрыть пост</button>
      <app-post *ngIf="selectedPost" [post]="selectedPost"></app-post>
    </div>


    <div>
      <p *ngIf="item.commentId">
        <strong>Комментарий ID:</strong>
        <a (click)="showComment(item.commentId)" class="comment-link">{{ item.commentId }}</a>
      </p>
      <button *ngIf="selectedComment" nz-button nzType="default" (click)="closeComment()">Закрыть коммент</button>
      <app-comment *ngIf="selectedComment" [comment]="selectedComment"></app-comment>
    </div>

    <p><strong>Ответственный
      администратор:</strong> {{ item.adminId ? 'Администратор ' + item.adminId : 'Не назначен' }}</p>
  </div>

  <div class="complaint-actions">
    <nz-select
      [(ngModel)]="item.status"
      class="status-selector"
      [nzAllowClear]="false"
      (ngModelChange)="onStatusChange(item.status)">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmComplaintStatus()">Подтвердить</button>


    <button
      nz-button
      nzType="default"
      nzDanger
      *ngIf="!item.adminId"
      (click)="assignAdminToComplaint($event)">
      Взять в обработку
    </button>
  </div>

  <div class="complaint-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> Редактировать
    </button>
    <button nz-button nzType="default" nzDanger (click)="onDelete(item)">
      <i nz-icon nzType="delete"></i> Удалить
    </button>
  </div>

</nz-card>




