<nz-card class="complaint-card"
         [nzBordered]="true" [nzHoverable]="true">

  <nz-card-meta
    [nzTitle]="'жалоба №' + item.id"
    [nzDescription]="'статус: ' +item.status">
  </nz-card-meta>

  <div class="complaint-details">
    <p><strong>тип нарушения:</strong> {{ item.violationType }}</p>
    <p><strong>описание:</strong> {{ item.description }}</p>
    <p><strong>дата создания:</strong> {{ this.dateFormatterService.formatDate(item.creationDate) }}</p>
    <p><strong>дата закрытия:</strong> {{ this.dateFormatterService.formatDate(item.closingDate) || 'не закрыта' }}</p>
    <div>
      <p *ngIf="item.post">
        <strong>пост ID:</strong>
        <a (click)="showPost(item.post)" class="post-link">{{ item.post }}</a>
      </p>
      <button *ngIf="selectedPost" nz-button nzType="default" (click)="closePost()">закрыть пост</button>
      <app-post-card *ngIf="selectedPost" [post]="selectedPost"></app-post-card>
    </div>


    <div>
      <p *ngIf="item.comment">
        <strong>комментарий ID:</strong>
        <a (click)="showComment(item.comment)" class="comment-link">{{ item.comment }}</a>
      </p>
      <button *ngIf="selectedComment" nz-button nzType="default" (click)="closeComment()">закрыть коммент</button>
      <app-comment *ngIf="selectedComment" [comment]="selectedComment"></app-comment>
    </div>

    <p><strong>ответственный
      администратор:</strong> {{ item.adminLogin ? 'администратор ' + item.adminLogin : 'не назначен' }}</p>
  </div>

  <div class="complaint-actions">
    <nz-select
      [(ngModel)]="selectedStatus"
      class="status-selector"
      [nzAllowClear]="false">
      <nz-option *ngFor="let status of generalStatuses" [nzValue]="status" [nzLabel]="status"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="confirmComplaintStatus()">подтвердить</button>


    <button
      nz-button
      nzType="default"
      nzDanger
      *ngIf="!item.adminLogin"
      (click)="assignAdminToComplaint()">
      взять в обработку
    </button>
  </div>

  <div class="complaint-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> редактировать
    </button>
  </div>

</nz-card>




