<!--<nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
<nz-avatar
  [nzSize]="64"
  [style]="{ 'background-color': '#8228e6' }"
  nzIcon="user"></nz-avatar>
<!--<nz-avatar nzSize="large" nzIcon="user"></nz-avatar>-->

<div class="role-info">
  <ng-container *ngIf="smesharik.role == Roles.admin">
    <span class="role-badge admin-badge">
      <i nz-icon nzType="crown" nzTheme="fill"></i> админ
    </span>
  </ng-container>
  <ng-container *ngIf="smesharik.role == Roles.doctor">
    <span class="role-badge doctor-badge">
      <i nz-icon nzType="medicine-box" nzTheme="fill"></i> доктор
    </span>
  </ng-container>
</div>


<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="edit-form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name"
                   nzTooltipTitle="Как бы вы хотели, чтобы другие называли вас">
      <span>имя</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Введите имя!">
      <input nz-input id="name" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="login"
                   nzTooltipTitle="выше уникальное имя">
      <span>логин</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите логин!">
      <input nz-input id="login" formControlName="login"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
                   nzTooltipTitle="email">
      <span>email</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="введите email!">
      <input nz-input id="email" formControlName="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="edit-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary"
              *ngIf="isEditing"
              [disabled]="saveIsAvailable()">сохранить изменения
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<div>
  <button nz-button nzType="default" (click)="toggleEdit()">
    {{ isEditing ? 'отмена редактирования' : 'редактировать профиль' }}
  </button>
</div>





