.role-info {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.role-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.admin-badge {
  background-color: #f5222d; /* Красный для админа */
}

.doctor-badge {
  background-color: #52c41a; /* Зеленый для доктора */
}

.role-badge i {
  margin-right: 5px;
}
