<!--<div class="comment">-->
<!--  <div class="comment-header">-->
<!--    <strong>{{ comment.smesharik }}</strong>-->
<!--  </div>-->
<!--  <p>{{ comment.text }}</p>-->

<!--  <button *ngIf="comment.hasChildren && !showReplies" (click)="loadReplies()">-->
<!--    Показать ответы-->
<!--  </button>-->

<!--</div>-->

<!--<nz-comment [nzAuthor]="comment.smesharik">-->
<!--  <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>-->
<!--  <nz-comment-content>-->
<!--    <p>{{ comment.text }}</p>-->

<!--    &lt;!&ndash; Кнопка "Показать ответы" &ndash;&gt;-->
<!--    <button-->
<!--      *ngIf="comment.hasChildren && !showReplies"-->
<!--      nz-button-->
<!--      nzType="link"-->
<!--      (click)="loadReplies()"-->
<!--    >Показать ответы</button>-->

<!--  </nz-comment-content>-->
<!--</nz-comment>-->


<!--<nz-card class="comment-card" [nzBordered]="false">-->
<!--  <div class="comment-header">-->
<!--    <strong>{{ comment.smesharik }}</strong>-->
<!--  </div>-->
<!--  <p>{{ comment.text }}</p>-->

<!--  <button *ngIf="comment.hasChildren" nz-button nzType="link" (click)="loadReplies()">-->
<!--    Показать ответы-->
<!--  </button>-->

<!--  &lt;!&ndash; Вложенные комментарии, загруженные из commentTree$ &ndash;&gt;-->
<!--  <div *ngIf="(replies$ | async) as replies">-->
<!--    <div *ngFor="let reply of replies" class="nested-comment">-->
<!--      <app-comment-card2 [comment]="reply" (loadRepliesEvent)="loadRepliesEvent.emit($event)"></app-comment-card2>-->
<!--    </div>-->
<!--  </div>-->
<!--</nz-card>-->

<nz-card class="comment-card" [nzBordered]="true">
  <nz-card-meta
    [nzTitle]="title"
    [nzDescription]="nzDescription"
    [nzAvatar]="avatarTemplate">
  </nz-card-meta>


  <p>{{ comment.text }}</p>
  <div class="carrots">
    <i
      nz-icon
      [nzType]="iconCarrot.name"
      class="large-icon"
      [class.liked]="isLiked"
      (click)="toggleLike()"
    ></i>
    <app-carrot-count [count]="comment.countCarrots ? comment.countCarrots :0"></app-carrot-count>
  </div>

  <button *ngIf="comment.hasChildren && !showReplies" nz-button nzType="link" (click)="loadReplies()">
    показать ответы
  </button>

  <!-- Вложенные комментарии, загруженные из commentTree$ -->
  <div *ngIf="(replies$ | async) as replies">
    <div *ngFor="let reply of replies" class="nested-comment">
      <app-comment-card2 [comment]="reply" (loadRepliesEvent)="loadRepliesEvent.emit($event)"></app-comment-card2>
    </div>
  </div>
</nz-card>


<ng-template #avatarTemplate>
  <div class="avatar-container">
    <nz-avatar
      [style.background-color]="comment.smesharikAuthor?.color"
      nzSize="large"
      nzIcon="user">
    </nz-avatar>
    <span class="status-indicator"
          [ngClass]="{ 'online': comment.smesharikAuthor?.isOnline, 'offline': !comment.smesharikAuthor?.isOnline }">
  </span>
  </div>

</ng-template>

<ng-template #nzDescription>
  <p class="item-date">

     <span *ngIf="!comment.smesharikAuthor?.isOnline">
      <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
      был в сети: {{
         dateFormatterService.formatDate(comment.smesharikAuthor?.lastActive)
       }}
    </span>
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    опубликовано: {{ this.dateFormatterService.formatDate(comment.creationDate) }} <br>
  </p>
</ng-template>


<ng-template #title>
  <span>
    {{ comment.smesharikAuthor?.name }}
    {{ comment.smesharik }}
    {{ comment.id }}

    <!--    2-->
    <!-- <span-->
    <!--   class="online-status"-->
    <!--   [ngClass]="{-->
    <!--        'online': comment.smesharikAuthor?.isOnline,-->
    <!--        'idle': comment.smesharikAuthor?.lastActive && !comment.smesharikAuthor?.isOnline-->
    <!--      }"-->
    <!--   [title]="comment.smesharikAuthor?.isOnline ? 'Онлайн' : (comment.smesharikAuthor?.lastActive ? 'Был в сети: ' + comment.smesharikAuthor?.lastActive : 'Оффлайн')">-->
    <!--    </span>-->
    <!--    3-->

  </span>
</ng-template>


