.comment {
  background: #cd96f1;
  border-radius: 15px;
  min-width: 500px;
}


.large-icon {
  font-size: 33px;
}

.carrots {
  user-select: none;
}

.carrot-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.carrot-button:focus-visible {
  outline: 2px solid #8f69ff;
  border-radius: 50%;
}


.nested-comment {
  padding-left: 12px;
  margin-left: 24px;
  max-width: 90%;
  min-width: 250px;
  border-left: 2px solid #e8e0fb;
}
