.comment {
  background: #cd96f1;
  border-radius: 15px;
}


.large-icon {
  font-size: 33px;
}

.carrots {
  user-select: none;
}


.nested-comment {
  margin-left: 24px; /* Отступ для вложенных */
  /*background: #e8e0fb;*/
  border-left: 4px solid #e8e0fb; /* Линия связи */
  padding-left: 12px;
}




/*2*/
/*.online-status {*/
/*  display: inline-block;*/
/*  width: 12px;*/
/*  height: 12px;*/
/*  border-radius: 50%;*/
/*  margin-left: 6px;*/
/*  transition: all 0.3s ease-in-out;*/
/*  border: 2px solid white;*/
/*  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.online-status.online {*/
/*  background: radial-gradient(circle, #4caf50 30%, #2e7d32 90%);*/
/*  box-shadow: 0 0 10px #4caf50;*/
/*}*/

/*.online-status.idle {*/
/*  background: radial-gradient(circle, #ff9800 30%, #e65100 90%);*/
/*  box-shadow: 0 0 10px #ff9800;*/
/*}*/

/*.online-status.offline {*/
/*  background: radial-gradient(circle, #9e9e9e 30%, #616161 90%);*/
/*  box-shadow: none;*/
/*}*/

/*3*/
