<!--<div class="comment">-->
<!--  <div class="comment-header">-->
<!--    <strong>{{ comment.smesharik }}</strong>-->
<!--  </div>-->
<!--  <p>{{ comment.text }}</p>-->

<!--  <button *ngIf="comment.hasChildren && !showReplies" (click)="loadReplies()">-->
<!--    Показать ответы-->
<!--  </button>-->

<!--</div>-->

<!--<nz-comment [nzAuthor]="comment.smesharik">-->
<!--  <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>-->
<!--  <nz-comment-content>-->
<!--    <p>{{ comment.text }}</p>-->

<!--    &lt;!&ndash; Кнопка "Показать ответы" &ndash;&gt;-->
<!--    <button-->
<!--      *ngIf="comment.hasChildren && !showReplies"-->
<!--      nz-button-->
<!--      nzType="link"-->
<!--      (click)="loadReplies()"-->
<!--    >Показать ответы</button>-->

<!--  </nz-comment-content>-->
<!--</nz-comment>-->


<!--<nz-card class="comment-card" [nzBordered]="false">-->
<!--  <div class="comment-header">-->
<!--    <strong>{{ comment.smesharik }}</strong>-->
<!--  </div>-->
<!--  <p>{{ comment.text }}</p>-->

<!--  <button *ngIf="comment.hasChildren" nz-button nzType="link" (click)="loadReplies()">-->
<!--    Показать ответы-->
<!--  </button>-->

<!--  &lt;!&ndash; Вложенные комментарии, загруженные из commentTree$ &ndash;&gt;-->
<!--  <div *ngIf="(replies$ | async) as replies">-->
<!--    <div *ngFor="let reply of replies" class="nested-comment">-->
<!--      <app-comment-card2 [comment]="reply" (loadRepliesEvent)="loadRepliesEvent.emit($event)"></app-comment-card2>-->
<!--    </div>-->
<!--  </div>-->
<!--</nz-card>-->

<nz-card class="comment-card" [nzBordered]="false">
  <div class="comment-header">
    <strong>{{ comment.smesharik }}</strong>
  </div>
  <p>{{ comment.text }}</p>

  <button *ngIf="comment.hasChildren && !showReplies" nz-button nzType="link" (click)="loadReplies()">
    Показать ответы
  </button>

  <!-- Вложенные комментарии, загруженные из commentTree$ -->
  <div *ngIf="(replies$ | async) as replies">
    <div *ngFor="let reply of replies" class="nested-comment">
      <app-comment-card2 [comment]="reply" (loadRepliesEvent)="loadRepliesEvent.emit($event)"></app-comment-card2>
    </div>
  </div>
</nz-card>





