<app-back-button [isFeed]="isFeed" (goBackEvent)="handleGoBack()"> назад</app-back-button>

<nz-card class="item-card" [nzBordered]="true">
  <nz-card-meta
    [nzTitle]="title"
    [nzDescription]="nzDescription"
    [nzAvatar]="avatarTemplate">
  </nz-card-meta>
  <br>
  <p>{{ comment.text }}</p>
  <div class="carrots">
    <i
      nz-icon
      [nzType]="iconCarrot.name"
      class="large-icon"
      [class.liked]="(isLiked$ | async)"
      (click)="toggleLike()"
    ></i>
    <app-carrot-count [count]="comment.countCarrots"></app-carrot-count>
  </div>


  <button nz-button nzType="link" (click)="toggleReply()">ответить</button>

  <!-- Поле для ввода ответа -->
  <div *ngIf="showReplyInput" class="reply-box">
    <textarea [(ngModel)]="replyText" placeholder="введите ваш ответ..."></textarea>
    <button nz-button nzType="primary" (click)="submitReply()">отправить</button>
  </div>


  <button *ngIf="comment.hasChildren && !showReplies" nz-button nzType="link" (click)="loadReplies()">
    показать ответы
  </button>

  <!-- Вложенные комментарии, загруженные из commentTree$ -->
  <div *ngIf="(replies$ | async) as replies">
    <div *ngFor="let reply of replies" class="nested-comment">
      <app-comment-card2 [isFeed]="true" [comment]="reply"
                         (loadRepliesEvent)="loadRepliesEvent.emit($event)"></app-comment-card2>
    </div>
  </div>

  <button nz-button (click)="onScroll()" *ngIf="hasMore && showReplies">загрузить еще</button>

</nz-card>


<ng-template #avatarTemplate>
  <app-avatar *ngIf="commentAuthor$ | async as author" [data]="author"></app-avatar>
</ng-template>

<ng-template #nzDescription>
  <p class="item-date">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    опубликовано: {{ this.dateFormatterService.formatDate(comment.creationDate) }} <br>
  </p>
</ng-template>


<ng-template #title>
  <span *ngIf="commentAuthor$ | async as author">
    {{ author.name }} ({{ comment.smesharik }})
  </span>
</ng-template>


