html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sorted-asc {
  color: green;
}

.sorted-desc {
  color: red;
}


.hoverable-row {
  transition: background-color 0.3s ease;
}

.hoverable-row:hover {
  background-color: rgba(240, 255, 105, 0.16);
  cursor: pointer;
}
