@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


.item-card:hover {
  box-shadow: 0 4px 12px var(--app-shadow-color);
  cursor: default;
}

.item-card {
  border-radius: 8px;
  transition: box-shadow 0.3s;
  margin-bottom: 20px;
  padding: 16px;

  .item-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    .item-header-info {
      .item-title {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }

      p.item-date {
        margin: 0;
        font-size: 14px;
        color: var(--app-muted-text);

        i {
          margin-right: 4px;
        }
      }
    }
  }

  .item-links {
    font-size: 14px;

    .link {
      color: var(--app-link-color);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #40a9ff;
      }
    }
  }
}

.item-details {
  margin-top: 10px;
  font-size: 14px;
  color: var(--app-muted-text);
  p {
    margin: 4px 0;
  }
}

.item-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}


.reply-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;

  textarea {
    flex: 1;
    min-height: 40px;
    padding: 8px;
    border: 1px solid var(--app-border-color);
    border-radius: 6px;
    font-size: 14px;
    resize: none;
    /*color: var(--app-text-color);*/
    /*background: var(--app-surface-color);*/
  }

  button {
    white-space: nowrap;
    height: 40px;
  }
}



.bubble-text {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(180deg, #ca99ff, #d466ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 0px #c44dff,
  8px 8px 10px rgba(64, 58, 80, 0.3);
  position: relative;
  display: inline-block;

  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.item-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.status-selector {
  min-width: 200px;
}

.status-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

.toggle-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Arial', sans-serif;
}

.toggle-container label {
  font-weight: bold;
  color: var(--app-text-color);
  font-size: 16px;
}

.toggle-label {
  font-size: 18px;
  font-weight: 500;
  color: var(--app-muted-text);
}


.nz-switch {
  margin: 0 10px;
}
