
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

 @primary-color: #6d18ff;
@menu-bg: #7d69ff; // меню
@menu-item-color: #8f69ff; // текст

//при наведении
@menu-item-active-bg: #7214ff;
@menu-item-hover-bg: #8614ff;
