<nz-card class="ban-card" [nzBordered]="true" [nzHoverable]="true">
  <div class="ban-header">
    <div class="ban-header-info">
      <h3 class="ban-title">бан ID: {{ item.id }}</h3>
      <p class="ban-date">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        начало: {{ this.dateFormatterService.formatDate(item.creationDate) }} <br>
        <i nz-icon nzType="stop" nzTheme="outline"></i>
        конец: {{ this.dateFormatterService.formatDate(item.endDate) }}
      </p>
    </div>
  </div>

  <div class="ban-reason">
    <p><strong>причина бана:</strong> {{ item.reason }}</p>
  </div>

  <div class="ban-links">
    <div>
      <p *ngIf="item.smesharik">
        <strong>смешарик ID: </strong>
        <a (click)="showSmesharik(item.smesharik)" class="smesharik-link">{{ item.smesharik }}</a>
      </p>
      <button *ngIf="selectedSmesharik" nz-button nzType="default" (click)="closeSmesharik()">закрыть</button>
      <!--      <app-friend-card *ngIf="selectedSmesharik" [friend]="selectedSmesharik" [context]="Context.friends"></app-friend-card>-->
    </div>

    <div>
      <p *ngIf="item.post">
        <strong>пост ID: </strong>
        <a (click)="navigateToPost(item.post)" class="post-link">{{ item.post }}</a>
      </p>
    </div>

    <div>
      <p *ngIf="item.comment">
        <strong>комментарий ID: </strong>
        <a (click)="navigateToComment(item.comment)" class="comment-link">{{ item.comment }}</a>
      </p>
    </div>
  </div>

  <div class="ban-actions">
    <button nz-button nzType="default" (click)="onEdit(item)">
      <i nz-icon nzType="edit"></i> редактировать
    </button>
  </div>

</nz-card>
